@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-dot {
    background-image: radial-gradient(rgba(55,56,63, 0.6) 1px, transparent 1px), linear-gradient(to right, #3f96fc, #aa87ec, #e278ca, #fd749e, #ff8074, #ff8074, #ff8074, #ff8074, #fd749e, #e278ca, #aa87ec, #3f96fc);
    background-size: 24px 24px, 300% 300%;
  }
}

* {
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}
